<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tu Plataforma de Cursos</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" rel="stylesheet" />
</head>

<body>
    <header class="udemy-banner">
        <div class="logo">
            <a href="#"><img src="/images/logo-udemy.svg" alt="Logo"></a>
        </div>
        <div class="categories">
            <a href="#">Categorías</a>
        </div>
        <div class="search-bar">
            <button type="submit" class="btn-search">
                <i class="fa-solid fa-magnifying-glass"></i>
            </button>
            <input type="text" class="input_search" placeholder="Buscar cualquier cosa">
        </div>
        <nav>
            <ul>
                <li><a href="#">Udemy Business</a></li>
                <li><a href="#">Enseña en Udemy</a></li>
                <li><a href="#"><i class="fa-solid fa-cart-shopping"></i></a></li>
                <li><button class="login-button">Iniciar Sesión</button></li>
                <li><button class="register-button">Regístrate</button></li>
                <li><a href="#"><i class="fa-solid fa-globe fa-fade"></i></a></li>
            </ul>
        </nav>
    </header>
    <div class="banner">
        <img src="/images/imagen1.jpg" alt="Banner" class="banner-image">
        <img src="/images/imagen2.jpg" alt="Banner2" class="banner-hover">
    </div>

    <footer>
        <p>© 2023 Udemy, Inc.</p>
    </footer>
</body>

</html>