<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Udemi</title>
    <link href="https://fonts.googleapis.com/css?family=EB+Garamond" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" rel="stylesheet" />
</head>

<body>
    <header class="udemy-banner">
        <div class="logo">
            <a href="#"><img src="/images/logo-udemy.svg" alt="Logo"></a>
        </div>
        <div class="categories">
            <a href="#">Categorías</a>
        </div>
        <div class="search-bar">
            <button type="submit" class="btn-search">
                <i class="fa-solid fa-magnifying-glass"></i>
            </button>
            <input type="text" class="input_search" placeholder="Buscar cualquier cosa">
        </div>
        <nav>
            <ul>
                <li><a href="#">Udemy Business</a></li>
                <li><a href="#">Enseña en Udemy</a></li>
                <li><a href="#"><i class="fa-solid fa-cart-shopping"></i></a></li>
                <li><button class="login-button">Iniciar Sesión</button></li>
                <li><button class="register-button">Regístrate</button></li>
                <li><a href="#"><i class="fa-solid fa-globe fa-fade"></i></a></li>
            </ul>
        </nav>
    </header>

    <main>

        <div class="banner">
            <img src="/images/imagen1.jpg" alt="Banner" class="banner-image">
            <img src="/images/imagen2.jpg" alt="Banner2" class="banner-hover">
        </div>

        <div class="overlay">
            <div class="text-container">
                <h1>El conocimiento abre puertas</h1>
                <p>Empieza a descubrir nuevad oportunidades para tu futuro. Inicia sesión para ver los cursos que estan
                    rebajados hasta el 7 de septiembre.</p>
            </div>
        </div>

        <div class="banner-logos">
            <header>
                <h2>Más de 14.400 empresas y millones de estudiantes de todo el mundo confían en nosotros</h2>
            </header>
            <div class="logos-container">
                <img src="/images/volkswagen.svg" alt="Logo 1">
                <img src="/images/samsung.svg" alt="Logo 2">
                <img src="/images/cisco.svg" alt="Logo 3">
                <img src="/images/att.svg" alt="Logo 4">
                <img src="/images/procter_gamble.svg" alt="Logo 5">
                <img src="/images/hewlett_packard_enterprise.svg" alt="Logo 6">
                <img src="/images/citi.svg" alt="Logo 7">
                <img src="/images/ericsson.svg" alt="Logo 8">
            </div>
        </div>

        <p class="course-selection">
            <strong>Una amplia selección de cursos</strong><br>
            <span class="small-text"> Elige entre más de 210.000 cursos de vídeo en línea con nuevo contenido cada
                mes.</span><br>
            <strong class="python-text">Python</strong>
        </p>

        <div class="banner-Cursos1">
            <p class="banner-text">
                <strong>Amplía tus oportunidades profesionales con Python</strong><br>
                Tanto si trabajas en el segmento del aprendizaje automático o de las finanzas como si deseas desarrollar
                tu carrera en ciencias de datos o desarrollo web, Python es una de las habilidades más importantes que
                puedes aprender. La sencilla sintaxis de Python es especialmente adecuada para equipos de escritorio,
                web y ...
            </p>
            <div class="button-container">
                <button class="explore-button">Explorar Python</button>
            </div>

            <div class="course">
                <img src="/images/Phyton1.png" alt="Curso 1">
                <h2 class="course-title">Phyton Practicando. Desde cero hasta desarrollador en Phyton</h2>
                <p class="course-instructor">Alvaro Chirou</p>
                <div class="course-rating">
                    <span class="star-rating">4</span>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <p class="course-price">$74.99 USD</p>
            </div>

            <div class="course">
                <img src="/images/Phyton2.png" alt="Curso 2">
                <h2 class="course-title">Universidad Python con Frameworks Django, Flask, etc. +71hrs</h2>
                <p class="course-instructor">Global Mentoring Ing. Ubaldo</p>
                <div class="course-rating">
                    <span class="star-rating">4.5</span>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <p class="course-price">$84.99 USD</p>
            </div>

            <div class="course">
                <img src="/images/Phyton3.png" alt="Curso 3">
                <h2 class="course-title">Python para no matemáticos: De 0 hasta reconocimiento facial</h2>
                <p class="course-instructor">Academia Apps</p>
                <div class="course-rating">
                    <span class="star-rating">4.5</span>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <p class="course-price">$69.99 USD</p>
            </div>

            <div class="course">
                <img src="/images/Phyton4.png" alt="Curso 4">
                <h2 class="course-title">Python 3: Curso completo de cero a experto</h2>
                <p class="course-instructor">DataBoosters Academy</p>
                <div class="course-rating">
                    <span class="star-rating">5</span>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <p class="course-price">$54.99 USD</p>
            </div>

            <div class="course">
                <img src="/images/Phyton5.png" alt="Curso 5">
                <h2 class="course-title">Curso Maestro de Python: De Cero a Programador Todoterreno</h2>
                <p class="course-instructor">Instructor: María Rodríguez</p>
                <div class="course-rating">
                    <span class="star-rating">3.5</span>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <p class="course-price">$84.99 USD</p>
            </div>

        </div>



    </main>


    <footer>
        <p>© 2023 Udemy, Inc.</p>
    </footer>
</body>

</html>